In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv", index_col = 0)

In [9]:
data = data.drop('payment', axis = 1)

In [13]:
data.head()

,wk,acc_id,cnt_dt,play_time,npc_exp,npc_hongmun,quest_exp,quest_hongmun,item_hongmun,game_combat_time,...,game_efficiency,1wk,2wk,3wk,4wk,5wk,6wk,7wk,8wk,num_wk
0,7,3dc6f2875dc6e6f35b9e2bdb25b391a8003386ff23becd...,4,278088.999988,152118.000008,36048.000001,9.111460e+05,1.655600e+06,0.0,62088.0,...,9.906584,0,0,0,0,0,0,1,1,2
1,8,3dc6f2875dc6e6f35b9e2bdb25b391a8003386ff23becd...,5,337199.999986,163768.000009,54300.000002,1.231374e+06,2.483400e+06,0.0,80692.0,...,11.663233,0,0,0,0,0,0,1,1,2
2,3,b8856358ff62e596fa07e3e40b8e7fd4b7729263c72b44...,2,1228.000000,28.000000,0.000000,8.610000e+02,0.000000e+00,0.0,111.0,...,0.723941,0,0,1,1,1,0,1,1,5
3,4,b8856358ff62e596fa07e3e40b8e7fd4b7729263c72b44...,2,347.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000,0,0,1,1,1,0,1,1,5
4,5,b8856358ff62e596fa07e3e40b8e7fd4b7729263c72b44...,4,701.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000,0,0,1,1,1,0,1,1,5

In [14]:
trainpay = pd.read_csv("train_payment.csv")

In [15]:
testpay = pd.read_csv("test_payment.csv")

In [95]:
totalpay = pd.concat([trainpay,testpay],axis=0)

In [96]:
payment_amount_unique = totalpay['payment_amount'].unique()

In [97]:
import numpy as np

In [98]:
payment_unique_sorted = np.sort(payment_amount_unique)

In [99]:
pd.DataFrame(pd.DataFrame(np.diff(payment_unique_sorted))[0].value_counts()).iloc[0,:]

0    90
Name: 0.0351562599839, dtype: int64

In [100]:
(totalpay['payment_amount']/0.0351562599839)

0          -4.263778
1          -4.263778
2          -4.263778
3          -4.263778
4          -4.263778
5          -4.263778
6          -4.263778
7          -4.263778
8          -4.263778
9          -4.263778
10         -4.263778
11         -4.263778
12         -4.263778
13         -4.263778
14         -4.263778
15         -4.263778
16         -4.263778
17         -4.263778
18         -4.263778
19         -4.263778
20         -4.263778
21         -4.263778
22         -4.263778
23         -4.263778
24         -4.263778
25         -4.263778
26         -4.263778
27         -4.263778
28         -4.263778
29         -4.263778
             ...
319970     -4.263778
319971     -4.263778
319972     -4.263778
319973     -4.263778
319974     -4.263778
319975     -4.263778
319976     -4.263778
319977     -4.263778
319978     -4.263778
319979     -4.263778
319980     -4.263778
319981     -4.263778
319982     -4.263778
319983     -4.263778
319984     15.736222
319985     -4.263778
319986     -4.263778
319987     -4.263778
319988     15.736222
319989     -4.263778
319990      7.857435
319991     75.736222
319992     45.736222
319993     49.736222
319994     -4.263778
319995     -4.263778
319996    412.736222
319997     74.736222
319998     -4.263778
319999    152.736222
Name: payment_amount, dtype: float64

In [101]:
payment_Lst = (totalpay['payment_amount']/0.0351562599839 + .263778).round()

In [102]:
payment_Lst.value_counts()

-4.0      1062718
 16.0       11320
 46.0        6390
 26.0        3708
 96.0        3642
 6.0         3246
 56.0        3036
 66.0        1750
 146.0       1303
 36.0        1200
 196.0       1107
 116.0       1046
 1.0         1045
 76.0        1033
 106.0        734
-3.0          632
 86.0         547
 126.0        498
 296.0        495
 166.0        466
 11.0         426
 246.0        409
 156.0        386
 21.0         346
 97.0         307
-2.0          306
 47.0         296
 176.0        285
 496.0        282
 216.0        278
           ...
 184.0          1
 463.0          1
 193.0          1
 310.0          1
 323.0          1
 423.0          1
 390.0          1
 422.0          1
 417.0          1
 925.0          1
 414.0          1
 413.0          1
 946.0          1
 956.0          1
 412.0          1
 407.0          1
 405.0          1
 387.0          1
 325.0          1
 382.0          1
 272.0          1
 528.0          1
 363.0          1
 357.0          1
 345.0          1
 344.0          1
 334.0          1
 332.0          1
 752.0          1
 511.0          1
Name: payment_amount, dtype: int64

In [103]:
totalpay['unstandardized'] = payment_Lst + 4

In [104]:
totalpay.columns = ['payment_week', 'acc_id', 'payment_amount', 'unstd']

In [105]:
def f(x) :
    if x['unstd'] == 0 :
        return 0
    else :
        return 1

In [106]:
totalpay['pay_exist'] = totalpay.apply(f, axis = 1)

In [107]:
totalpay_sum = totalpay.groupby('acc_id').sum().reset_index()

In [111]:
totalpay_ = totalpay.merge(totalpay_sum[['acc_id', 'unstd', 'pay_exist']], on = 'acc_id')

In [113]:
totalpay_ = totalpay_.drop('payment_amount', axis = 1)

In [117]:
totalpay_.head()

,payment_week,acc_id,unstd_x,pay_exist_x,unstd_y,pay_exist_y
0,1,3dc6f2875dc6e6f35b9e2bdb25b391a8003386ff23becd...,0.0,0,0.0,0
1,2,3dc6f2875dc6e6f35b9e2bdb25b391a8003386ff23becd...,0.0,0,0.0,0
2,3,3dc6f2875dc6e6f35b9e2bdb25b391a8003386ff23becd...,0.0,0,0.0,0
3,4,3dc6f2875dc6e6f35b9e2bdb25b391a8003386ff23becd...,0.0,0,0.0,0
4,5,3dc6f2875dc6e6f35b9e2bdb25b391a8003386ff23becd...,0.0,0,0.0,0

In [120]:
totalpay_.columns = ['wk', 'acc_id', 'payment_amount', 'pay_exist', 'total_payment_amount',
       'total_pay_exist']

In [127]:
data.head()

,wk,acc_id,cnt_dt,play_time,npc_exp,npc_hongmun,quest_exp,quest_hongmun,item_hongmun,game_combat_time,...,game_efficiency,1wk,2wk,3wk,4wk,5wk,6wk,7wk,8wk,num_wk
0,7,3dc6f2875dc6e6f35b9e2bdb25b391a8003386ff23becd...,4,278088.999988,152118.000008,36048.000001,9.111460e+05,1.655600e+06,0.0,62088.0,...,9.906584,0,0,0,0,0,0,1,1,2
1,8,3dc6f2875dc6e6f35b9e2bdb25b391a8003386ff23becd...,5,337199.999986,163768.000009,54300.000002,1.231374e+06,2.483400e+06,0.0,80692.0,...,11.663233,0,0,0,0,0,0,1,1,2
2,3,b8856358ff62e596fa07e3e40b8e7fd4b7729263c72b44...,2,1228.000000,28.000000,0.000000,8.610000e+02,0.000000e+00,0.0,111.0,...,0.723941,0,0,1,1,1,0,1,1,5
3,4,b8856358ff62e596fa07e3e40b8e7fd4b7729263c72b44...,2,347.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000,0,0,1,1,1,0,1,1,5
4,5,b8856358ff62e596fa07e3e40b8e7fd4b7729263c72b44...,4,701.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.0,0.0,...,0.000000,0,0,1,1,1,0,1,1,5

In [128]:
data = data.merge(totalpay_, on = ['wk', 'acc_id'])

In [132]:
data = data.drop('payment_amount_x', axis = 1)

In [93]:
totalpay = totalpay.groupby('acc_id').sum().reset_index()

In [147]:
def f(x) :
    return x['cnt_clear_inzone_solo'] + x['cnt_clear_inzone_light'] + x['cnt_clear_inzone_skilled'] + x['cnt_clear_inzone_normal']

In [148]:
data['total_cnt_clear_inzone'] = data.apply(f, axis = 1)

In [153]:
def f(x) :
    return x['cnt_clear_raid'] + x['cnt_clear_raid_light'] + x['cnt_clear_bam']

In [154]:
data['total_cnt_clear_raid_bam'] = data.apply(f, axis = 1)

In [159]:
data[['wk', 'acc_id', 'payment_amount', 'pay_exist', 'total_payment_amount',
       'total_pay_exist']].tail()

,wk,acc_id,payment_amount,pay_exist,total_payment_amount,total_pay_exist
615949,4,813ad8039e2692aecc1b7875f3a9b1e951477937ec30bd...,0.0,0,757.0,5
615950,5,813ad8039e2692aecc1b7875f3a9b1e951477937ec30bd...,417.0,1,757.0,5
615951,6,813ad8039e2692aecc1b7875f3a9b1e951477937ec30bd...,79.0,1,757.0,5
615952,7,813ad8039e2692aecc1b7875f3a9b1e951477937ec30bd...,0.0,0,757.0,5
615953,8,813ad8039e2692aecc1b7875f3a9b1e951477937ec30bd...,157.0,1,757.0,5

In [165]:
def f(x) :
    if x['total_payment_amount'] == 0 :
        return 0
    else :
        return x['payment_amount']/x['total_payment_amount']

In [160]:
def f(x) :
    if x['total_payment_amount'] == 0 :
        return 0
    else :
        return x['payment_amount']/x['total_payment_amount']

In [166]:
data['payment_rate'] = data.apply(f, axis = 1)

In [168]:
data = data.drop('rate_payment', axis = 1)

In [175]:
payment = data[['wk', 'acc_id', 'payment_amount', 'pay_exist', 'total_payment_amount', 'total_num_pay', 'payment_rate']]

In [177]:
payment.to_csv("payment.csv")

In [173]:
data.columns = ['wk', 'acc_id', 'cnt_dt', 'play_time', 'npc_exp', 'npc_hongmun',
       'quest_exp', 'quest_hongmun', 'item_hongmun', 'game_combat_time',
       'get_money', 'duel_cnt', 'duel_win', 'partybattle_cnt',
       'partybattle_win', 'cnt_enter_inzone_solo', 'cnt_enter_inzone_light',
       'cnt_enter_inzone_skilled', 'cnt_enter_inzone_normal', 'cnt_enter_raid',
       'cnt_enter_raid_light', 'cnt_enter_bam', 'cnt_clear_inzone_solo',
       'cnt_clear_inzone_light', 'cnt_clear_inzone_skilled',
       'cnt_clear_inzone_normal', 'cnt_clear_raid', 'cnt_clear_raid_light',
       'cnt_clear_bam', 'normal_chat', 'whisper_chat', 'district_chat',
       'party_chat', 'guild_chat', 'faction_chat', 'cnt_use_buffitem',
       'gathering_cnt', 'making_cnt', 'total_party_time',
       'party_participation_number', 'weighted_average_member', 'guild_count',
       'from_accessory', 'from_costume', 'from_gem', 'from_grocery',
       'from_money', 'from_weapon', 'to_accessory', 'to_costume', 'to_gem',
       'to_grocery', 'to_money', 'to_weapon', 'label', 'combat_per_play',
       'cnt_rate_inzone_solo', 'cnt_rate_inzone_light',
       'cnt_rate_inzone_skilled', 'cnt_rate_inzone_normal', 'cnt_rate_raid',
       'cnt_rate_raid_light', 'cnt_rate_bam', 'duel_rate', 'partybattle_rate',
       'length', 'guild_max', 'cnt_dt_total', 'cnt_dt_rate', 'game_efficiency',
       '1wk', '2wk', '3wk', '4wk', '5wk', '6wk', '7wk', '8wk', 'num_wk',
       'payment_amount', 'pay_exist', 'total_payment_amount',
       'total_num_pay', 'total_cnt_enter_inzone', 'total_cnt_enter_raid_bam',
       'total_cnt_clear_inzone', 'total_cnt_clear_raid_bam', 'payment_rate']

In [161]:
data['rate_payment'] = data.apply(f, axis = 1)

In [164]:
data.columns

Index(['wk', 'acc_id', 'cnt_dt', 'play_time', 'npc_exp', 'npc_hongmun',
       'quest_exp', 'quest_hongmun', 'item_hongmun', 'game_combat_time',
       'get_money', 'duel_cnt', 'duel_win', 'partybattle_cnt',
       'partybattle_win', 'cnt_enter_inzone_solo', 'cnt_enter_inzone_light',
       'cnt_enter_inzone_skilled', 'cnt_enter_inzone_normal', 'cnt_enter_raid',
       'cnt_enter_raid_light', 'cnt_enter_bam', 'cnt_clear_inzone_solo',
       'cnt_clear_inzone_light', 'cnt_clear_inzone_skilled',
       'cnt_clear_inzone_normal', 'cnt_clear_raid', 'cnt_clear_raid_light',
       'cnt_clear_bam', 'normal_chat', 'whisper_chat', 'district_chat',
       'party_chat', 'guild_chat', 'faction_chat', 'cnt_use_buffitem',
       'gathering_cnt', 'making_cnt', 'total_party_time',
       'party_participation_number', 'weighted_average_member', 'guild_count',
       'from_accessory', 'from_costume', 'from_gem', 'from_grocery',
       'from_money', 'from_weapon', 'to_accessory', 'to_costume', 'to_gem',
       'to_grocery', 'to_money', 'to_weapon', 'label', 'combat_per_play',
       'cnt_rate_inzone_solo', 'cnt_rate_inzone_light',
       'cnt_rate_inzone_skilled', 'cnt_rate_inzone_normal', 'cnt_rate_raid',
       'cnt_rate_raid_light', 'cnt_rate_bam', 'duel_rate', 'partybattle_rate',
       'length', 'guild_max', 'cnt_dt_total', 'cnt_dt_rate', 'game_efficiency',
       '1wk', '2wk', '3wk', '4wk', '5wk', '6wk', '7wk', '8wk', 'num_wk',
       'payment_amount', 'pay_exist', 'total_payment_amount',
       'total_pay_exist', 'total_cnt_enter_inzone', 'total_cnt_enter_raid_bam',
       'total_cnt_clear_inzone', 'total_cnt_clear_raid_bam', 'rate_payment'],
      dtype='object')

In [179]:
data.to_csv("data.csv")